<!DOCTYPE html>
<html>
<head>
  <style>
    iframe {
      border-style: none;
    }

    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

  </style>
</head>
<body>

  <div id="chapter">
  </div>
  <div>
    <button onclick="prev();">Prev</button>
    <button onclick="next();">Next</button>
  </div>

  <script>
  // global variables
  var book = <%- book %>; // (html base64 encoded)
  var readerWidth = <%- readerWidth %>;
  var readerHeight = <%- readerHeight %>;
  var scripts = <%- scripts %>; // scripts to be appended to chapters (base64 encoded)

  // should be extracted to module
  var currentChapter = 0;

  var chapterElement = document.querySelector('#chapter');
  var iframe = document.createElement('iframe');
  iframe.height = readerHeight;
  iframe.width = readerWidth;
  chapterElement.appendChild(iframe);
  iframe.contentWindow.document.open();

  // display first chapter
  iframe.contentWindow.document.write(atob(book.chapters[currentChapter].html));
  paginate(iframe.contentWindow.document, readerHeight, readerWidth);
  iframe.contentWindow.document.close();

  function prev() {
    currentChapter--;
    iframe.contentWindow.document.open();

    // display first chapter
    iframe.contentWindow.document.write(atob(book.chapters[currentChapter].html));
    paginate(iframe.contentWindow.document, readerHeight, readerWidth);
    iframe.contentWindow.document.close();
  }

  function next() {
    currentChapter++;
    iframe.contentWindow.document.open();
    // display first chapter
    iframe.contentWindow.document.write(atob(book.chapters[currentChapter].html));
    paginate(iframe.contentWindow.document, readerHeight, readerWidth);
    iframe.contentWindow.document.close();
  }

  function paginate(document, height, width) {
    var body = document.getElementsByTagName('body')[0];
    var style = body.currentStyle || window.getComputedStyle(body);
    var gap = 2 * style.marginLeft.slice(0,-2);
    var totalHeight = body.offsetHeight;
    var pageCount = Math.floor(totalHeight/height) + 1;
    body.style.columnGap = gap + 'px';
    body.style.width = width * pageCount + 'px';
    body.style.height = height + 'px';
    body.style.columnWidth = width-gap + 'px';
    body.style.overflow = "scroll";
    document.styleSheets[0].addRule('::-webkit-scrollbar', 'display: none');

    var script = document.createElement('script');
    script.text = atob(scripts.polyfill); // polyfill
    document.styleSheets[0].addRule('body', 'scroll-snap-type: mandatory');
  }

  </script>
</body>
</html>